<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="onboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
</head>
<body>
    <input type="radio" name="slider" id="trigger1" checked autofocus>
    <label for="trigger1"></label>
    <div class="slide img1">
        <div class="title">
            <span class="head all">Listen Music</span>
            <span class="sub all">Stream your favourite songs from top rated artiste, all with the power of your voice</span>
            <span class="skip all">
                <a href="back.html" target="_blank" rel="noopener noreferrer">Skip</a>
            </span>
        </div>
    </div>

    <input type="radio" name="slider" id="trigger2" autofocus>
    <label for="trigger2"></label>
    <div class="slide img2">
        <div class="title">
            <span class="head all">Connect Emotionally</span>
            <span class="sub all">Stay in sync with your mood, Stream songs that connect with you emotionally, sad happy!</span>
            <span class="skip all">
                <a href="onboard_screen.html" target="_blank" rel="noopener noreferrer">Skip</a>
            </span>
        </div>
    </div>

    <input type="radio" name="slider" id="trigger3" autofocus>
    <label for="trigger3"></label>
    <div class="slide img3">
        <div class="title">
            <span class="head all">Sync Device</span>
            <span class="sub all">Stream your favourite songs across multiple bluetooth device</span>
            <span class="skip all">
                <a href="New folder/back.html">Skip</a>
            </span>
        </div>
    </div>
</body>
</html>