<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceddra</title>
</head>
<body>
    <!-- <form action="/get_song" method="post">
        <h1>Enter the title of your song</h1>
        <input type="text" name="song_title" id="song_title">
    </form> -->

    <h1>Hi Whats the name of the music you'd like to play</h1>
    <button id="command">Give command</button>
    <h3 class="output">output</h3>
    <a href="/music">skip</a>

    
    <script src="{{url_for('static', filename='js/speechHandle.js')}}"></script>


</body>
</html>